body {
  width: 100%;
  height: 1000px;
  z-index: -1;
}

header .container {
  position: relative;
  padding: 20px;
  justify-content: center;
}

 header .home-icon .material-symbols-outlined {
   position: absolute;
     font-size: 50px;
    margin: 19px;
     
 }
  header .home-icon{
    position: absolute;
    width: 100%;
    
       top: 0;
    
     
  }
 header .home-icon .material-symbols-outlined a {
  text-decoration: none;
  color: rgb(50, 56, 146);
}
header .home-icon .material-symbols-outlined a:hover {
    text-decoration: none;
    color: #d51515;
  }

.service-el {
  max-width: 560px;
  border: 1px solid #ffffff;
  background-color: #93ffff73;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  transform-origin: 100% 100%;
  border-radius: 24px;
  padding: 48px 36px 36px;
  position: relative;
  z-index: 5;
  padding: 100px;
}
.control-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-content: end;
  padding: 100px;
}
body {
  font-family: Dmsans, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.service-bg-container {
  z-index: -2;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.soverlay-container {
  z-index: -1;
  border-radius: 24px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
h3 {
  color: white;
}
.service-bio {
  font-size: 17px;
  line-height: 1.75;
  color: white;
}
.service-icon {
  width: 88px;
  height: 88px;
  background-color: #1b2332;
  background-image: linear-gradient(135deg, var(--indigo-500), var(--phi-500));
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.35s;
  display: flex;
  position: absolute;
  top: -50px;
  left: calc(50% - 44px);
  box-shadow: 0 11px 50px rgba(2, 228, 162, 0.15),
    2px -11px 45px rgba(2, 228, 162, 0.1);
}
.contro-l-box {
  height: auto;
  /* display: flex;  
    justify-content: center; */
}
.parent {
  text-align: center;
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  height: 1000px;
  background-color: #1b2332;
}
.parent .material-symbols-outlined {
  display: inline;
  color: #ffffff;
  margin-right: 6px;
  margin-top: 0.9px;
  font-size: 25px;
}
.parent .inline-group {
  display: inline-flex;
  margin: 2px;
}

.share {
  position: relative;
  top: 70px;
}
.share-parent {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.parent .share-parent .share .socal-media,
.parent .share-parent .share .follow {
  position: relative;
  margin: 10px;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.parent .share .follow {
}
.parent .share-parent .share .socal-media:hover,
.parent .share-parent .share .follow:hover {
  background-color: black;
  color: white;
}
